<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="AgentUsername" value="VLAY"/>
		<add key="AgentDomain" value="sonofon.dom"/>

		<add key="OneScreenSolutionLocation" value="D:\Projects\OneScreen\master\onescreen\"/>

		<add key="OneScreenProjLocationInOS" value="\OneScreen\OneScreen.csproj"/>
		<add key="WebConfigLocationInOS" value="\OneScreen\Web.config"/>
		<add key="LoginRepositoryLocationInOS" value="\Common\Repositories\LoginRepository.cs"/>
	</appSettings>
</configuration>